# Flutter
**/flutter_export_environment.sh
**/Flutter.podspec
**/Generated.xcconfig
**/Pods/
**/flutter_assets/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.dart_tool/
**/.metadata
**/packages/cache/
**/build/
**/ios/Flutter/flutter_export_environment.sh
**/ios/.symlinks/
**/ios/Flutter/.last_build_id
**/ios/Flutter/app.flx
**/ios/Flutter/app.frameworks
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Android
**/android/gradlew
**/android/gradlew.bat
**/android/gradle-wrapper.jar
**/android/local.properties
**/android/.gradle/
**/android/capt/
**/android/app/src/main/java/io/flutter/plugins/
**/android/app/src/main/kotlin/io/flutter/plugins/
**/android/app/src/debug/
**/android/app/src/profile/

# IntelliJ
**/.idea/
**/*.iml

# Visual Studio Code
**/.vscode/
**/*.code-workspace

# macOS
**/.DS_Store

# Environment variables
**/.env
**/.env.*

# Files
**/*~
**/*.swp
**/pubspec.lock